doctype html
head

  title &Dstrok;&abreve;ng nh&#x1EAD;p.
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    
  style.
    body{
    background: linear-gradient(90deg, rgba(219,235,233,1) 0%, rgba(216,252,242,1) 49%, rgba(227,241,237,1) 100%);
    margin-bottom: 1px;
    }

    .frm_Login {
    margin-top: 100px;
    border: 1px solid #65a694;
    border-radius: 6px;
    position: absolute;
    width: 600px;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;
    background: white;
    }
    .frm_Login small {
    font-style: italic;
    }
    .frm_Login hr {
    color: #856F77;
    }
    #btn_Login {
    margin-left: 30%;
    margin-right: 5px;
    }
    .btn_Login_fb {
    margin-left: 20%;
    background-color: #2B60DE;
    color: white;
    }
    .btn_dangky {
    background-color: #2B60DE;
    color: white;
    }
    /* canh giua*/
    .alignCenter {
    text-align: center;
    }
    /*gach ngang*/
    .gachngang hr {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .facebook {
    background-color: #2b5b95;
    margin-right: 10px;
    height: 35px;
    width: 180px;
    color: white;
    font-weight: bold;
    }
    .google {
    background-color: #e43f3b;
    margin-right: 5px;
    height: 35px;
    width: 180px;
    color: white;
    font-weight: bold;
    }
    .signup {
    background-color: #5aac44;
    margin-right: 5px;
    height: 45px;
    width: 320px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -10px;
    }
    /*    form đổi mật khẩu*/
    .frm_label .form-group label {
    text-align: left;
    }
    .quenmk {
    border: 10px solid #147696;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 35%;
    width: 700px;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    box-shadow: 5px 10px 5px #666;
    background: #E5F2D8;
    }
    /* Forgot password*/
    .full {
    margin-top: 50px;
    }
    h2 {
    text-align: center;
    }
    /* logout*/
    .log-out-1 {
    height: 200px;
    color: black;
    text-align: center;
    }
    p#logout-1 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    }
    p#logout-2 {
    font-size: 20px;
    }
    p#logout-3 {
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    font-size: 18px;
    }
    .btn-download-app {
    height: 45px;
    width: 200px;
    background-color: white;
    font-size: 22px;
    text-align: center;
    }
    p#txt-logout-1 {
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    }
    p#logout-4 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    }
    .background {
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    }
    .leftLarge {
    overflow:hidden;
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 0;
    z-index: -999;
    max-width: 30%;
    }
    .rightLarge {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
    z-index: -999;
    max-width: 30%;
    overflow: hidden;
    }

body
  .container
    .logo(style="text-align:center;")
      img(src="/image/logo-green.png", alt="")
    form.frm_Login(method="POST" action="/authentication/login")
      h2.alignCenter(style='margin-top: 0') &Dstrok;&abreve;ng nh&#x1EAD;p t&agrave;i kho&#x1EA3;n
      br
      .form-group
        label(for='') Email 
        input.form-control(name='email', type='text', id='', value=values?values.email: "",required='')
      .form-group
        label(for='') M&#x1EAD;t kh&#x1EA9;u
        input.form-control(name='password', type='password', id='', value=values?values.password: "",required='')
      if errors
          each error in errors
            li
              small(style='color:red')= error
              
      .form-group.row
        .col-sm-6.alignCenter
          .checkbox
            a(href='ForgotPassword.html') Qu&ecirc;n m&#x1EAD;t kh&#x1EA9;u?
        .col-sm-6.alignCenter
          .checkbox
            label
              input(type='checkbox', value='')
              | Ghi nh&#x1EDB; m&#x1EAD;t kh&#x1EA9;u
      .alignCenter
        small -----------Ho&#x1EB7;c &dstrok;&abreve;ng nh&#x1EAD;p nhanh v&#x1EDB;i-----------
        br
        br
      .form-group.row
        
        .col-sm-6.alignCenter
          button.facebook(onclick='')
            span Facebook
        .col-sm-6.alignCenter
          button.google(onclick='')
            span Gmail
      br
      b
      .alignCenter
        small N&#x1EBF;u b&#x1EA1;n ch&#x1B0;a c&oacute; t&agrave;i kho&#x1EA3;n, h&atilde;y t&#x1EA1;o cho m&igrave;nh m&#x1ED9;t t&agrave;i kho&#x1EA3;n.
      br
      .alignCenter
        a.btn.signup(href='/authentication/register') &Dstrok;&abreve;ng k&yacute; t&#x1EA3;i kho&#x1EA3;n m&#x1EDB;i
      br
      input(type='hidden', value='login', name='command')
      input#btn_Login.btn.btn-primary(type='submit', value='Đăng nhập')
      a.btn.btn-warning(href='/') Tr&#x1EDF; v&#x1EC1;

    


  //- .backgroud
  //-   .leftLarge
  //-     img(src="/image/anh1.png", alt="")(style="overflow:hidden;")
  //-   .rightLarge
  //-     img(src="/image/anh1.png", alt="")(style="overflow:hidden;")