extends header


block header
  style.
    .board-header {
    background: rgba(0,0,0,.24);
    padding: 10px;
    }
    .board-header-btn {
        border-radius: 6px;
        font-size: 16px;
        display: inline-block;
        background-color: hsla(0,0%,100%,.24);
        color: #fff;
        margin-left: 15px;
        padding:8px;
        border: 0px;
    }
    .board-header-btn:hover {
        background: rgba(0,0,0,.08);
    }
    .board-header-btn .right {
      float: right;
    }
    .board-header .dropdown button:focus {
      outline: 0;
      box-shadow: none;
      
    }
   .board-header .dropdown-menu {
    width: 400px;
    padding: 0px;
    margin-top: 7px;
    margin-right: -2px;
    box-shadow: 2px 2px 8px #888888
    }
    .board-header .dropdown-menu p {
    font-size: 16px;
    color: #003333;
    }
    .board-header .dropdown-menu i{
    font-size:18px;
    font-weight:bold;
    padding: 5px;
    }
    .board-header .dropdown-menu a{
    color: #003333;
    }


    .board-body {
    padding: 10px;
    }

    .board-body .board-list{
    width: 300px;
    margin: 0px 4px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    }
    .board-body .board-list .board-list-content {
    background-color: #d9e6f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 4px;
    box-shadow: 1px 1px 2px #888888;

    }
    .list-title {
    height:50px;
    }
    .list-title .title{
    text-align: center;
    width: 84%;
    display: inline-block;
    padding: 5px;
    }
    .list-title .mn{
    float: right;
    width: 16%;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    height: 60%;
    }
    .list-title .mn:hover{
    background: rgba(0,0,0,.05);
    }

    .list-card .card-name {
    margin: 3px;
    padding: 10px;
    background-color: #ecf2f8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    display:block;
    color:#172b4d;
    }
    .list-card .card-name:hover {
    background: rgba(0,0,0,.01);
    }
    
    .list-add a{
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
    color: #5e6c84;
    display:block;
    }
    .list-add a:hover{
    background: rgba(0,0,0,.08);
    }
    .board-list .add-list{
    background-color: hsla(0,0%,100%,.24);
    padding: 14px;
    color:#172b4d;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    display: block;
    }
    .board-list .add-list:hover{
    background-color: hsla(0,0%,100%,.3);
    }
    .board-list .add-list i{
    font-weight: 900;
    color: #004466;
    }
    .submit{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    padding: 6px;
    display:none;
    }
    .submit .form-control{
    box-shadow: inset 0 0 0 2px #0079bf; 
    }


    input[type=submit] {
    background-color: rgba(9,30,66,.04);
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    text-align: center;
    }
    input[type=submit].primary {
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    border-radius:5px;
    color: #fff;
    }
    .cc-controls-section {
    float: left;
    padding-bottom: 6px;
    }
    .card-composer {
    padding-bottom: 8px;
        margin: 3px;
    border-radius: 3px;
    display:none;
    }
    .fa-times{
    height: 32px;
    line-height: 32px;
    width: 32px;
    color: #6b778c;    
    }
    .js-composer textarea{
    overflow:hidden;
    overflow-wrap:break-word;
    resize:none;
    height: 60px;
    width:100%;
    border-radius: 8px;
    padding: 10px;
    }
    .js-composer textarea:focus{
    outline: 0;
    box-shadow: none;
    }
    .board{
    background-position: center;
    background-size: cover;
    }

  .board(style='background-image:url('+board.image+')')
    .board-header
      span(style='padding:5px; color:#fff;')=board.title 
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-user-friends &nbsp; Tên nhóm 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')     Tên nhóm  
          a.dropdown-item(href='#') Đổi nhóm 
          a.dropdown-item(href='#') Xem trang của nhóm
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-users &nbsp; Hiện với nhóm 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          a.dropdown-item(href='#') Riêng tư 
          a.dropdown-item(href='#') Nhóm 
          a.dropdown-item(href='#') Công khai
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-star-of-david &nbsp; Mời 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')     Mời vào bảng  
          input.form-control(placeholder='Địa chỉ email hoặc tên ...')
          hr
          button.btn.btn-info(style='float: right; margin: 8px;') Gửi lời mời 

      button.board-header-btn.right(style='float: right;')
          i.fas.fa-ellipsis-h &nbsp; Hiện menu

    .board-body
      // if lists
      //   each _list in lists  
      .board-list
        .board-list-content
          .list-title
            .title _list.title 
            .mn
              i.fas.fa-ellipsis-h

          .list-card
            a.card-name(href="" data-toggle="modal" data-target="#the") Tên thẻ 
            .card-composer
              .js-composer
                textarea.form-control(placeholder="Nhập tiêu đề cho thẻ này..." dir="auto" style="")
              .cc-controls
                .cc-controls-section
                  input.primary(type="submit" value="Thêm thẻ")
                  a(href="#" style="display:inline-block;padding-left: 5px;")
                    i#thoat.fas.fa-times
          .list-add
            a(href="#")
              i.fas.fa-plus &nbsp; Thêm thẻ khác


      .board-list
        form()
          a#them1(href='#').add-list
            i.fas.fa-plus(style='color: #fff;')  &nbsp;   Thêm danh sách khác 
          .submit
            input.form-control(type="text" name="" autocomplete="off" dir="auto" placeholder="Nhập tiêu đề danh sách... ")
            .list-add-controls
              input.primary(type="submit" value="Thêm danh sách")
              a#them2(href="#" style="padding: 8px;")
                i.fas.fa-times


    #the.modal.fade
      form(action="/board/create" method='POST')
        .modal-dialog
          .modal-content
            // Modal Header
            .modal-header
              input.modal-title.form-control(placeholder='Thêm tiêu đề bảng' name='title')
              button.close(type='button', data-dismiss='modal') &times;
            // Modal body
            .modal-body
              select.browser-default.custom-select(name='groupId') Nhóm 
                option(selected='#null' value='#null') Không có nhóm nào 
                if groups
                  each _group in groups
                    option(value=_group._id)=_group.title  
              p aaaaaaaaa
              p bbbbbbbbbb
              p ddddddddddddddddd

     
              button.btn.btn-info(style='float: right;margin-top:10px;') Lưu

    script.
      $(document).ready(function(){
        $("#them1").click(function(){
          $(".submit").fadeIn(300);
          $("#them1").fadeOut(0);
        });
        $("#them2").click(function(){
          $(".submit").fadeOut(0);
          $("#them1").fadeIn(0);
        });
        
        $(".list-add").click(function(){
          $(".card-composer").fadeIn(0);
          $(".list-add").fadeOut(0);
          
        });

        $("#thoat").click(function(){
          $(".card-composer").fadeOut(0);
          $(".list-add").fadeIn(0);
        });



      });
