extends header


block header
  script(type='text/javascript', src='/js/board.js')
  link(rel='stylesheet', href='/styles/board.css')
  .board(style='background-image:url('+board.image+')')
    .board-header
      span(style='padding:5px; color:#fff;')=board.title 
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-user-friends &nbsp; 
            span= group.title
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')=group.title  
          a.dropdown-item(href='#') Đổi nhóm 
          a.dropdown-item(href='#') Xem trang của nhóm
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-users &nbsp; Hiện với nhóm 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          a.dropdown-item(href='#') Riêng tư 
          a.dropdown-item(href='#') Nhóm 
          a.dropdown-item(href='#') Công khai
      .dropdown
        button.board-header-btn(type='button' data-toggle="dropdown")
          i.fas.fa-star-of-david &nbsp; Mời 
        .dropdown-menu.dropdown-menu-left(style='color=#003333')
          p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')     Mời vào bảng  
          input.form-control(placeholder='Địa chỉ email hoặc tên ...')
          hr
          button.btn.btn-info(style='float: right; margin: 8px;') Gửi lời mời 

      button.board-header-btn.right(style='float: right;')
          i.fas.fa-ellipsis-h &nbsp; Hiện menu

    .board-body
      // if lists
      //   each _list in lists  
      .board-list
        .board-list-content
          .list-title
            .title 
              input.mod-card-back-title(dir='auto' value='Ten danh sach' style='overflow: hidden; overflow-wrap: break-word; height: 32px;width: 100%;color: #5e6c84;')
            .mn
              i.fas.fa-ellipsis-h

          .list-card
            a.card-name(href="" data-toggle="modal" data-target="#the") Tên thẻ 
            .card-composer
              .js-composer
                textarea.form-control(placeholder="Nhập tiêu đề cho thẻ này..." dir="auto" style="")
              .cc-controls
                .cc-controls-section
                  input.primary(type="submit" value="Thêm thẻ")
                  a(href="#" style="display:inline-block;padding-left: 5px;")
                    i#thoat.fas.fa-times
          .list-add
            a(href="#")
              i.fas.fa-plus &nbsp; Thêm thẻ khác


      .board-list
        form(method='POST' action='/list/create')
          a#them1(href='#').add-list
            i.fas.fa-plus(style='color: #fff;')  &nbsp;   Thêm danh sách khác 
          .submit
            input.form-control(type="text" name="title" autocomplete="off" dir="auto" placeholder="Nhập tiêu đề danh sách... ")
            input(type='text' name='boardId' value=board._id style='display:none;')
            .list-add-controls
              input.primary(type="submit" value="Thêm danh sách")
              a#them2(href="#" style="padding: 8px;")
                i.fas.fa-times


    #the.modal.fade
      form(action="" method='POST')
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              span(style='margin-right: 15px;padding: 5px;')
                i.fas.fa-window-restore 
              .window-title
                // h3.card-detail-title-assist Ten the 
                input.mod-card-back-title(dir='auto' value='Ten the' style='overflow: hidden; overflow-wrap: break-word; height: 32px;')
              button.close(type='button', data-dismiss='modal') &times;
            // Modal body
            .modal-body
              .row
                .window-main-col.col-9
                  .card-detail-data
                  .js-fill-card-detail-desc
                    .window-module
                      .window-module-title
                        span(style='margin-right: 15px;padding: 5px;')
                          i.fas.fa-bars &nbsp; 
                        h5 Mô tả
                      .u-gutter
                        .editable
                          .description-content
                            .current
                              p lam bai tap
                            p.u-bottom
                              a(href="#").description-fake-text-area Thêm mô tả chi tiết hơn...
                            
                              
                            .description-edit
                              textarea.form-control(type="text" name="" autocomplete="off" dir="auto" placeholder="Thêm mô tả chi tiết hơn... ")
                              .list-add-controls
                                input.primary(type="submit" value="Lưu")
                                a#xxx(href="#" style="padding: 8px;")
                                  i.fas.fa-times
                  .checklist-list
                    .checklist
                      .window-module-title
                        span(style='margin-right: 15px;padding: 5px;')
                          i.fas.fa-tasks &nbsp; 
                        .editable.checklist-title
                          h5 Việc cần làm
                          .window-module-title-options
                            a(href='#').button.subtle Xóa
                      .checklist-progress
                        span.checklist-progress-percentage 0%
                        .checklist-progress-bar
                          .checklist-progress-bar-current
                      .checklist-items-list.custom-control.custom-checkbox
                        input#customCheck.custom-control-input(type='checkbox')
                        label.custom-control-label(for="customCheck")
                        p(href="#").checklist-item work 1
                          a(href='#').button.subtla 
                            i.fas.fa-times
                      .checklist-new-item
                        a#themm.button.subtle(href="#" style
                        ="float: left; margin-left: 53px; margin-top: 10px") Thêm một mục 
                        .description-editt(style="margin-left: 53px; display:none;")
                          textarea.form-control(type="text" name="" autocomplete="off" dir="auto" placeholder="Thêm mô tả chi tiết hơn... ")
                          .list-add-controls
                            input.primary(type="submit" value="Lưu")
                            a#xxy(href="#" style="padding: 8px;")
                              i.fas.fa-times
                  .window-module(style='margin-top:20px')
                    .window-module-title
                      span(style='margin-right:15px;padding: 5px;')
                        i.fas.fa-comments  
                      h5 Hoạt động 
                    .new-comment
                      .member
                        span.member-initials(title='Quang Dat (quangdat9)', aria-label='Quang Dat (quangdat9)') QD
                      form
                        input.form-control(placeholder='Viết bình luận...', dir='auto', style='')
                           




                .col-3
                  .window-sidebar
                    h3 THÊM VÀO THẺ 
                  .u-clearfix
                    a.button-link
                      i.fas.fa-user(style='font-size: 18;font-weight: 400;') &nbsp; Thành viên 

                    a.button-link
                      i.far.fa-address-book(style='font-size: 18;font-weight: 400;') &nbsp; Việc cần làm

                    a.button-link
                      i.fas.fa-clock(style='font-size: 18;font-weight: 400;') &nbsp; Ngày hết hạn

             
              

     
              button.btn.btn-info(style='float: right;margin-top:10px;') Lưu

    script.
      
