html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')   

    style.
      body {
      //- font-family: "Lucida Console", Courier, monospace;
      
      background: linear-gradient(90deg, rgba(219,235,233,1) 0%, rgba(216,252,242,1) 49%, rgba(227,241,237,1) 100%);
      color: #172b4d;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;      }

      a:hover {
      text-decoration: none;
      }
      .header a {
      color: white;
      text-decoration: none;
      background-color: transparent;
      }
      .header {
      height: 52px;
      background-color: #006666;
      padding: 2px;
      margin-bottom: 0px;
      }

      .header button {
      float: left;
      color: white;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
      background-color: #009999;
      margin: 2px;
      border: 0px;
      }
      .header button:hover {
      background-color: #008080;
      margin: 2px;
      }
      .header button:focus {
      outline: 0;
      box-shadow: none;
      }
      .header button.logo {
      font-size: 26px;
      font-weight: bold;
      background-color: #006666;
      padding:10px;
      }
      .header button.logo:hover {
      font-size: 30px;
      font-weight: bold;
      background-color: #006666;
      padding:7.5px;
      }
      .header-right {
      float: right;
      }
      .header-right button{
      padding:12px;
      }
      .header-right i{
      font-size:20px;
      }
      .dropdown {
      display: inline-block;
      }
      .header .dropdown-menu {
      width: 400px;
      padding: 0px;
      margin-top: 7px;
      margin-right: -2px;
      box-shadow: 2px 2px 8px #888888
      }
      .header-right .dropdown .dropdown-menu button {
      background-color: white;
      text-align: left;
      color: #003333;
      margin: 0px;
      }
      .header-right .dropdown .dropdown-menu button:hover {
      text-align: left;
      color: #003333;
      background-color: #e6ffff;
      }
      .header .dropdown-menu p {
      font-size: 16px;
      color: #003333;
      }
      .header .dropdown-menu i{
      font-size:18px;
      font-weight:bold;
      padding: 5px;
      }
      .header .dropdown-menu a{
      color: #003333;
      }


  body
    .header
      button.logo()
        a(href="/home")
          i.fas.fa-home  Aloso
      .header-right
        .dropdown
          button(type='button' data-toggle="dropdown")
            i.far.fa-plus-square    
          .dropdown-menu.dropdown-menu-right
            button(data-toggle="modal" data-target="#taobang")
              i.far.fa-plus-square    &nbsp; Tạo bảng...
              p
                | M&#x1ED9;t b&#x1EA3;ng &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o th&agrave;nh t&#x1EEB; c&aacute;c th&#x1EBB; &dstrok;&#x1B0;&#x1EE3;c s&#x1EAF;p x&#x1EBF;p trong danh s&aacute;ch. S&#x1EED; d&#x1EE5;ng b&#x1EA3;ng &dstrok;&#x1EC3; qu&#x1EA3;n l&yacute; c&aacute;c d&#x1EF1; &aacute;n, theo d&otilde;i th&ocirc;ng tin, ho&#x1EB7;c t&#x1ED5; ch&#x1EE9;c b&#x1EA5;t c&#x1EE9; vi&#x1EC7;c g&igrave;.
         
            button(data-toggle="modal" data-target="#taonhom")
              i.fas.fa-users &nbsp; Tạo nhóm...
              p
                | M&#x1ED9;t nh&oacute;m l&agrave; t&#x1EAD;p h&#x1EE3;p c&aacute;c b&#x1EA3;ng v&agrave; m&#x1ECD;i ng&#x1B0;&#x1EDD;i. S&#x1EED; d&#x1EE5;ng nh&oacute;m &dstrok;&#x1EC3; t&#x1ED5; ch&#x1EE9;c c&ocirc;ng ty c&#x1EE7;a b&#x1EA1;n, h&#x1ED7; tr&#x1EE3; ng&#x1B0;&#x1EDD;i b&#x1EAD;n r&#x1ED9;n, gia &dstrok;&igrave;nh ho&#x1EB7;c b&#x1EA1;n b&egrave;.
       

        .dropdown
          button(type='button' data-toggle="dropdown")
            i.far.fa-bell &nbsp; Thông báo
          .dropdown-menu.dropdown-menu-right
            p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')      Thông báo 
            p.dropdown-item(href='#') Thông báo 1
            p.dropdown-item(href='#') Thông báo 2
            p.dropdown-item(href='#') Thông báo 3
        .dropdown
          button(type='button' data-toggle="dropdown")
            i.far.fa-user-circle &nbsp;
              if user
                span= user.displayName
          .dropdown-menu.dropdown-menu-right(style='color=#003333')
            p(style='text-align:center;background-color:#e5ffec; margin: 0px; padding: 5px;')     Tài khoản  
            a.dropdown-item(href='#') Hồ sơ và lý lịch 
            a.dropdown-item(href='#') Hoạt động
            hr
            a.dropdown-item(href='#') Đăng xuất 



    #taobang.modal.fade
      form(action="/board/create" method='POST')
        .modal-dialog
          .modal-content
            // Modal Header
            .modal-header
              input.modal-title.form-control(placeholder='Thêm tiêu đề bảng' name='title')
              button.close(type='button', data-dismiss='modal') &times;
            // Modal body
            .modal-body
              select.browser-default.custom-select(name='groupId') Nhóm 
                option(selected='#null' value='#null') Không có nhóm nào 
                if groups
                  each _group in groups
                    option(value=_group._id)=_group.title  

     
              button.btn.btn-info(style='float: right;margin-top:10px;') Tạo bảng

    #taonhom.modal.fade
      .modal-dialog
        .modal-content.row 
          // Modal Header
          .modal-header
            h5.modal-title(style='display:inline-block;') Hãy xây dựng một nhóm giúp tăng năng suất của bạn
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(action="/group/create" method="POST")
              .form-group
                label(for='exampleFormControlInput1') Tên nhóm 
                input#exampleFormControlInput1.form-control(type='text', placeholder='', name="title")
              .form-group
                label(for='exampleFormControlTextarea1') Mô tả của nhóm 
                textarea#exampleFormControlTextarea1(placeholder='Nhóm của chúng tôi tổ chức mọi thứ ở đây.' rows='3', name="description").form-control
              //- .form-group
              //-   label(for='search-member') Thêm Thành viên
              //-   input#search-member.form-control(type='text', placeholder='') 
              //-   .col-md-9(style='position: relative;padding-left: 0px;')
              //-     #show-list.list-group
              //-       if users
              //-         each _user in users 
              //-           a.list-group-item.list-group-item-action.border-1(href="") = _user.displayName
              //- button Tạo Nhóm
              button.btn.btn-info(style='float: right;') Tạo Nhóm
                //- script.
                //-   $(document).ready(function(){
                //-     $('#search-member').keyup(function(){
                //-       var searchText = $(this).val();
                //-       if(searchText!=''){
                //-         $.ajax({
                //-           url: 'http://localhost:3001/search/groupUser',
                //-           method: 'post',
                //-           data:{field:searchText, },
                //-           success: function(response){
                //-             $("#show-list").html(response);
                //-           }

                //-         });
                //-       }
                //-       else{
                //-         $("#show-list").html('');
                //-       }
                //-     });
                //-     $(document).on('click','a',function(){
                //-       $("search-member").val($(this).text());
                //-       $("#show-list").html(response);
                //-     })
                //-   });
              



    block header
      