extends header


block header
  style.
    .bodyleft a{
    display: block;
    color: #003333;
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    background-color: #ecf9f9;
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
    } 
    .bodyleft a:hover {
    background-color: #e5fff9;
    line-height: 24px;
    box-shadow: 1px 1px 8px #888888;
    }
    .bodyleft p{
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    }

  .container-fluid(style='margin-top:40px')
    .row
      .col-3.bodyleft
        a(href="/")
          i.fas.fa-home  Trang chủ 
        a(href="/board") 
          i.fas.fa-border-all  Bảng 
        p   CÁC NHÓM 
        a(href="/group")
          i.fas.fa-users  Nhóm 1
        a(href="#")
          i.fas.fa-users  Nhóm 2 
      block home

      script(src='/socket.io/socket.io.js')
  script.
    const socket = io.connect('http://localhost:3001');
    socket.on('broadcast', (data) => {
    console.log(" // "  + data);
    });