doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Aloso
  // Import Boostrap css, js, font awesome here
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  link(href='https://use.fontawesome.com/releases/v5.0.4/css/all.css', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  style.
    body{
    font-family: "Charlie Display",sans-serif;
    }
    h1,h2,h3,h4,h5{
    font-weight: 600;
    }
    .btn-signup{
    width: 280px;
    background-color: #519839;
    font-weight: bold;
    color: white;
    font-size: 20px;
    height: 50px;
    text-align: center;
    }
    .text_left{
    margin-top: 90px;
    padding-left: 160px;
    padding-right: 80px;
    padding-bottom: 160px;
    }
    .text_right{
    padding-right: 170px;
    padding-top: 90px;
    }
    .text{
    margin-left: 160px;
    padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 100px;
    }
    p{
    font-size: 16pt;
    }
    .img_1{
    padding-top: 80px;
    padding-right: 180px;
    }
    .img_2{
    padding-top:  50px;
    }
    .img_3{
    padding: 0 0 0 200px;
    }
    .popover{  width:800px;
    }
    .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    }
    a.btn-signup:hover{
    color:white;
    }


body
  .section(style="background:linear-gradient(135deg, #65a694, #275c4d);color:white")
    // Navigation
    nav.navbar.navbar-expand-md.navbar-light.sticky-top(style="color:white;")
        a.navbar-branch(href='/')
          img(src='/image/logo.png', height='60px', width='150px')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item(style='font-size: 16pt;')
              a.nav-link(style="color:white;")(href='/authentication/login') Đăng nhập
            li.nav-item(style='font-size: 16pt;')
              a.nav-link(style="color:#0079BF;background-color: #fff !important;border-radius:5px 5px;")(href='/authentication/register') Đăng ký 
    // Body
    .container-fluid.padding
      .row.padding
        .col-md-12.col-lg-6.text_left
          h1 Aloso gi&uacute;p b&#x1EA1;n l&agrave;m vi&#x1EC7;c c&oacute; t&iacute;nh h&#x1EE3;p t&aacute;c h&#x1A1;n v&agrave; l&agrave;m &dstrok;&#x1B0;&#x1EE3;c nhi&#x1EC1;u h&#x1A1;n.
          p
            | C&aacute;c b&#x1EA3;ng, danh s&aacute;ch, v&agrave; th&#x1EBB; c&#x1EE7;a Aloso cho ph&eacute;p b&#x1EA1;n t&#x1ED5; ch&#x1EE9;c v&agrave; &#x1B0;u ti&ecirc;n c&aacute;c d&#x1EF1; &aacute;n c&#x1EE7;a b&#x1EA1;n m&#x1ED9;t c&aacute;ch vui v&#x1EBB;, linh ho&#x1EA1;t v&agrave; x&#x1EE9;ng &dstrok;&aacute;ng.
          a.btn.btn-signup(href='authentication/register') &Dstrok;&abreve;ng k&iacute; - Mi&#x1EC5;n ph&iacute;!
        .col-lg-6.img_1
          img.img-fluid(src='/image/anh1.png')

  hr(width='80%', align='center')
  .container-fluid.padding
    .row.padding
      .col-md-12.col-lg-5.text_left
        h2 L&agrave;m vi&#x1EC7;c v&#x1EDB;i b&#x1EA5;t k&#x1EF3; nh&oacute;m n&agrave;o
        p
          | D&ugrave; l&agrave; cho c&ocirc;ng vi&#x1EC7;c, d&#x1EF1; &aacute;n ph&#x1EE5; hay k&#x1EF3; ngh&#x1EC9; c&ugrave;ng gia &dstrok;&igrave;nh s&#x1EAF;p t&#x1EDB;i, Aloso s&#x1EBD; lu&ocirc;n gi&uacute;p t&#x1ED5; ch&#x1EE9;c s&#x1EAF;p x&#x1EBF;p nh&oacute;m c&#x1EE7;a b&#x1EA1;n.
        a.btn.btn-outline-secondary(href='#') B&#x1EAF;t &dstrok;&#x1EA7;u l&agrave;m vi&#x1EC7;c
      .col-lg-6.img_2
        img.img-fluid(src='/image/anh2.png', width='590px', height='590px')
  .container-fluid.padding
    .row.padding
      .col-lg-5.img_3
        img.img-fluid(src='/image/anh3.png', width='300px', height='600px')
      .col-md-12.col-lg-7.text_right
        h2 Th&ocirc;ng tin nhanh
        p
          | &Dstrok;i v&agrave;o chi ti&#x1EBF;t b&#x1EB1;ng c&aacute;ch th&ecirc;m b&igrave;nh lu&#x1EAD;t, t&#x1EC7;p &dstrok;&iacute;nh k&egrave;m, ng&agrave;y h&#x1EBF;t h&#x1EA1;n v&agrave; tr&#x1EF1;c ti&#x1EBF;p h&#x1A1;n v&agrave;o th&#x1EBB; Aloso. C&#x1ED9;ng t&aacute;c tr&ecirc;n c&aacute;c d&#x1EF1; &aacute;n t&#x1EEB; &dstrok;&#x1EA7;u &dstrok;&#x1EBF;n cu&#x1ED1;i.
  .container-fluid.padding
    .row.padding
      .col-md-12.col-lg-6.text_left
        h4 T&#x1EF1; &dstrok;&#x1ED9;ng h&oacute;a quy tr&igrave;nh l&agrave;m vi&#x1EC7;c t&iacute;ch h&#x1EE3;p s&#x1EB5;n v&#x1EDB;i Butler
        p
          | H&atilde;y &dstrok;&#x1EC3; robot l&agrave;m vi&#x1EC7;c! T&abreve;ng n&abreve;ng su&#x1EA5;t b&#x1EB1;ng c&aacute;ch gi&#x1EA3;i ph&oacute;ng s&#x1EE9;c m&#x1EA1;nh t&#x1EF1; &dstrok;&#x1ED9;ng h&oacute;a trong to&agrave;n b&#x1ED9; nh&oacute;m c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i Butler v&agrave; x&oacute;a c&aacute;c t&aacute;c v&#x1EE5; t&#x1EBB; nh&#x1EA1;t kh&#x1ECF;i c&aacute;c danh s&aacute;ch vi&#x1EC7;c c&#x1EA7;n l&agrave;m c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i:
        ul(style='font-size: 14pt;')
          li K&iacute;ch ho&#x1EA1;t d&#x1EF1;a tr&ecirc;n quy t&#x1EAF;c
          li Th&#x1EBB; t&ugrave;y ch&#x1EC9;nh &amp; c&aacute;c n&uacute;t b&#x1EA3;ng
          li L&#x1EC7;nh l&#x1ECB;ch
          li L&#x1EC7;nh ng&agrave;y h&#x1EBF;t h&#x1EA1;n
      .col-lg-6(style='margin-top: 80px;')
        img.img-fluid(src='/image/anh4.png')
  hr(width='80%', align='center')
  .container-fluid.padding
    .row.text-center
      .col-12
        h1 Aloso theo c&aacute;ch c&#x1EE7;a b&#x1EA1;n
        p
          | S&#x1EED; d&#x1EE5;ng Aloso theo c&aacute;ch nh&oacute;m c&#x1EE7;a b&#x1EA1;n l&agrave;m vi&#x1EC7;c t&#x1ED1;t nh&#x1EA5;t. Ch&uacute;ng t&ocirc;i &dstrok;&atilde; c&oacute; s&#x1EF1; linh ho&#x1EA1;t v&agrave; c&aacute;c t&iacute;nh n&abreve;ng &dstrok;&#x1EC3; ph&ugrave; h&#x1EE3;p v&#x1EDB;i b&#x1EA5;t k&#x1EF3; phong c&aacute;ch nh&oacute;m n&agrave;o.
  .container-fuild.padding
    .row.padding
      .col-md-4
        .card
          img.card-img-top(src='/image/under1.png')
          .card-body
            h4.card-title Playbook nh&oacute;m
            p.card-text
              | Th&#x1EAD;t d&#x1EC5; d&agrave;ng &dstrok;&#x1EC3; th&uacute;c &dstrok;&#x1EA9;y nh&oacute;m c&#x1EE7;a b&#x1EA1;n l&ecirc;n v&agrave; ho&#x1EA1;t &dstrok;&#x1ED9;ng v&#x1EDB;i Aloso. Ch&uacute;ng t&ocirc;i &dstrok;&atilde; thu th&#x1EAD;p t&#x1EA5;t c&#x1EA3; c&aacute;c b&#x1EA3;ng v&agrave; c&ocirc;ng c&#x1EE5; b&#x1EA1;n c&#x1EA7;n &dstrok;&#x1EC3; th&agrave;nh c&ocirc;ng trong m&#x1ED9;t ngu&#x1ED3;n l&#x1EF1;c c&oacute; s&#x1EB5;n.
            a.btn.btn-outline-secondary(href='#') L&#x1EAD;p k&#x1EBF; ho&#x1EA1;ch ch&#x1A1;i game
      .col-md-4
        .card
          img.card-img-top(src='/image/under2.png')
          .card-body
            h4.card-title N&#x1EC1;n t&#x1EA3;ng Hi&#x1EC7;u qu&#x1EA3;
            p.card-text
              | T&iacute;ch h&#x1EE3;p tr&#x1EF1;c ti&#x1EBF;p c&aacute;c &#x1EE9;ng d&#x1EE5;ng m&agrave; nh&oacute;m c&#x1EE7;a b&#x1EA1;n &dstrok;&atilde; s&#x1EED; d&#x1EE5;ng v&agrave;o quy tr&igrave;nh l&agrave;m vi&#x1EC7;c c&#x1EE7;a b&#x1EA1;n. Ph&#x1EA7;n m&#x1EDF; r&#x1ED9;ng bi&#x1EBF;n b&#x1EA3;ng Aloso th&agrave;nh c&aacute;c &#x1EE9;ng d&#x1EE5;ng s&#x1ED1;ng &dstrok;&#x1ED9;ng gi&uacute;p &dstrok;&aacute;p &#x1EE9;ng nhu c&#x1EA7;u kinh doanh ri&ecirc;ng c&#x1EE7;a nh&oacute;m b&#x1EA1;n.
            a.btn.btn-outline-secondary(href='#') M&#x1EDF; r&#x1ED9;ng quy tr&igrave;nh l&agrave;m vi&#x1EC7;c c&#x1EE7;a b&#x1EA1;n
      .col-md-4
        .card
          img.card-img-top(src='/image/under3.png')
          .card-body
            h4.card-title Lu&ocirc;n &Dstrok;&#x1ED3;ng b&#x1ED9;
            p.card-text
              | D&ugrave; b&#x1EA1;n &#x1EDF; &dstrok;&acirc;u, Aloso c&utilde;ng &dstrok;&#x1ED3;ng b&#x1ED9; v&#x1EDB;i t&#x1EA5;t c&#x1EA3; c&aacute;c thi&#x1EBF;t b&#x1ECB; c&#x1EE7;a b&#x1EA1;n. C&#x1ED9;ng t&aacute;c v&#x1EDB;i nh&oacute;m c&#x1EE7;a b&#x1EA1;n &#x1EDF; b&#x1EA5;t k&#x1EF3; n&#x1A1;i &dstrok;&acirc;u t&#x1EEB; ng&#x1ED3;i tr&ecirc;n xe bu&yacute;t &dstrok;&#x1EBF;n ng&#x1ED3;i tr&ecirc;n b&#x1EDD; bi&#x1EC3;n.
            a.btn.btn-outline-secondary(href='#') Google play
            a.btn.btn-outline-secondary(href='#') App store
  jsp:include(page='footer.jsp')
script(src='/socket.io/socket.io.js')
script.
  const socket = io.connect('http://localhost:3001');
  socket.on('news', (data) => {
    console.log(data);
    console.log("socket session id " + socket.id);
    socket.emit('my other event', { my: 'data' });
  });